body{
    margin: 0;
    font-size: 100%;
    max-width: 100%;
    margin: 0 auto;
}
form{
}
.fixedWidth{
    padding: 0px 16px;
    margin: 0 auto;
    height: 100%;
    color: #404040;
    width: 85%;
    background-color: white;
    line-height: 1.142em;
}
#topBarContainer{
    font-family: Arial,Helvetica,freesans,sans-serif;
    background-color: yellow;
    font-size: 80%;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #CCC;
}
#logoDiv{
    float: left;
    position: relative;
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid #CCC;
}
#logoDiv img{
    position: relative;
    top: 7px;
}
#signInDiv{
    float: left;
    position: relative;
    max-height: 100%;
    padding: 3px 90px 12px 22px;
    border-right: 1px solid #CCC;
}
#signInDiv img{
    position: relative;
    top: 5px;
    left: -5px;
}
#topmenudiv{
    float: left;
}
#topmenudiv ul{
    padding: 0;
    margin: 0;
}
#topmenudiv li{
    float: left;
    height: 100%;
    padding: 14px 20px 12px 20px;
    list-style: none;
    border-right: 1px solid #CCC;
}
#topmenudiv li{
    float: left;
    height: 100%;
    padding: 14px 20px 12px 20px;
    list-style: none;
    border-right: 1px solid #CCC;
}
#arrow-icon{
    position: relative;
    left: 5px;
}
#search-bar-container{
    float: left;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 8px;
    max-height: 100%;
    max-width: 100%;
}
#search-bar{
    background-color: #E4E4E4;
    border: none;
    padding-left: 7px;
    width: 78%;
    min-height: 24px;
    height: 1.8em;
}
#search-form{
    width: 100%;
}
#search-icon{
    height: 2em;
    float: right;
    position: relative;
    top: -26px;
}