.divClass{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
}
.clear{
    clear: both;
    border: dashed;
}
#div1{
    background-color: red;
    
}

#div2{
    background-color: blue;
}

#div3{
    background-color: green;
}